upstream backend_hosts {
server nginx_http1;
}

server {

listen  ${NGINX_PORT} http2 ssl;
server_name ${NGINX_HOST};

ssl on;

ssl_certificate /etc/nginx/certs/cert.pem;
ssl_certificate_key /etc/nginx/certs/key.pem;

location / {
proxy_pass http://backend_hosts;
access_log off;
}


}

